<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.netease.cloud.dao.mapper.StudentMapper" >
    <resultMap type ="com.netease.cloud.dao.po.StudentPo" id="studentMap">
        <result property ="id" column="id" />
        <result property ="name" column="name" />
    </resultMap >

    <!-- 查询一条记录 -->
    <select id ="selectStudent" parameterType="java.lang.String" resultMap= "studentMap">
        select * from student where name=#{name}
    </select >
    <!-- 查询一条记录 -->
    <insert id ="insertStudent" parameterType="com.netease.cloud.dao.po.StudentPo" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO  student(name) VALUES (#{name,jdbcType=VARCHAR})
    </insert >
    <delete id ="deleteAll">
        DELETE  FROM  student
    </delete>
</mapper>